@import "@/styles/colors";
@import "@/styles/mixins";

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;

  @include belowPhone {
    grid-template-columns: repeat(1, 1fr);
  }

  @include betweenPhoneAndTabletPortrait {
    grid-template-columns: repeat(2, 1fr);
  }

  .addCompanyContainer {
    width: 256px;
    height: 84px;
    margin-bottom: 8px;
    border: 5px dashed rgba(255, 255, 255, 0.03);
    transition: ease-in-out 0.15s;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.25);
    font-size: 2.5rem;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
}
